* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efefef;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}
.clearfix {
  *zoom: 1;
}
.container {
  margin: 0 auto;
  width: 96%;
}