/* cleandefault */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-indicators li {
  bottom: 20px;
  width: 13px;
  height: 13px;
  border: none;
  background-color: #fff;
}
.carousel-indicators li.active {
  width: 14px;
  height: 14px;
  background-color: #ee1d2e;
}
.carousel-caption {
  left: 0;
  right: 0;
  bottom: 200px;
  text-shadow: none;
}
/* define */
.carousel-caption h1 {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 90px;
}
.carousel-caption h4 {
  margin-bottom: 60px;
  font-size: 34px;
  line-height: 44px;
}
.banner-btn {
  margin-bottom: 40px;
  font-size: 18px;
}
.banner-btn > div {
  display: inline-block;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
.banner-btn1 {
  margin-right: 60px;
  border: 2px solid #fff;
  line-height: 36px;
}
.banner-btn2 {
  line-height: 40px;
  background-color: #fff;
  color: #ee1d2e;
}
.banner-tab {
  position: absolute;
  bottom: 60px;
  left: 50%;
  padding: 30px 0;
  margin-left: -650px;
  width: 1300px;
  height: 160px;
  background-color: #BC0309;
  opacity: .9;
}
.banner-tab > div {
  float: left;
  width: 16.66%;
  height: 100px;
  border-right: 1px solid #fff;
  color: #fff;
  text-align: center;
}
.banner-tab h5 {
  margin-top: 15px;
  font-size: 18px;
}
.banner-tab > div:last-child {
  border-right: none;
}
@media(max-width: 1300px) {
  .banner-tab {
    width: 1000px;
    margin-left: -500px;
  }
}
@media(max-width: 1000px) {
  .banner-tab {
    width: 750px;
    margin-left: -375px;
  }
}
@media(max-width:767px) {
  .banner-tab {
    display: none;
  }
  #banner {
    height: 2rem;
  }
}