* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.nums {
  margin: 30px auto;
  width: 300px;
  height: 104px;
  padding: 10px;
  border: 2px solid red;
}
.num {
  float: left;
  margin: 0 2.5%;
  width: 20%;
  height: 80px;
}
.numt, .numb {
  width: 100%;
  height: 50%;
  color: #fff;
}
.numt {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(to bottom, skyblue 95%, white 5%);
  font-size: 60px;
  overflow: hidden;
}
.numb {
  background: linear-gradient(to top, skyblue 95%, white 5%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transform-style: preserve-3d;
  transition: transform;
  -webkit-transform-origin: center bottom;
  transform-origin: center top;
  font-size: 60px;
  line-height: 0;
  overflow: hidden;
  vertical-align: bottom;
}
.num1, .num2, .num3 {
  opacity: 0;
}
#btn, #btn1 {
  cursor: pointer;
}
