* {
  margin: 0;
  padding: 0
}

#magnifierBox {
  display: block;
  width: 400px;
  height: 400px;
  margin: 50px;
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 11px;
}

#smallBox {
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
img{
  border-radius: 10px;
}
#floatBox {
  display: none;
  width: 140px;
  height: 140px;
  position: absolute;
  background: #ffffcc;
  border: 1px solid #ccc;
  filter: alpha(opacity=50);
  opacity: 0.5;
  border-radius: 10px;
}

#magnifier {
  position: absolute;
  display: block;
  width: 400px;
  height:400px;
  background-color: #fff;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 10;
  border-radius: 10px;
}

#bigBox {
  display: none;
  position: absolute;
  top: 0;
  left: 460px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  z-index: 1;
  border-radius: 10px;
}

#bigBox img {
  position: absolute;
  z-index: 5l;
  filter: alpha(opacity=0);
  border-radius: 10px;
}